html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background: linear-gradient(to bottom, white, #4286f4);
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
* {
    background: transparent;
    margin: 0;
    padding: 0;
}
#header {
    flex: 0 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header img {
    max-height: 50px;
    margin-right: 20px;
    padding: 0 10px;
}
#content {
    flex: 1 0 80%;
}
#content > nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content > nav > .nav-item {
    text-decoration: none;
    padding: 5px 10px;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 2px;
}
#content > nav > .nav-item:hover {
    color: #fff;
    background: #b983c6;
    border: 1px solid #333 !important;
}
#content > nav > .active {
    color: #fff;
    background: #b983c6;
    border: 1px solid #4286f4;
}
#content > div {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    padding: 10px;
}
#content > div > ol {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background: white;
}
#content > div > ol > li {
    margin-left: 15px;
}
#footer {
    flex: 0 1 10%;
    justify-self: center;
    align-self: center;
    max-height: 40px;
}

select, input {
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 4px;
    line-height: 18px;
    min-width: 200px;
}
select {
    min-width: 218px;
    cursor: pointer;
}
.error {
    border-color: red;
    background: #ffc2b8;
}
.error-msg {
    max-width: 400px;
    border: 1px solid red;
    background: #ffc2b8;
    border-radius: 4px;
    padding: 10px;
}
input[type="submit"] {
    cursor: pointer;
    border: 1px solid #333;
}
input[type="submit"]:hover {
    color: #fff;
    background: #b983c6;
}

form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > div {
    margin: 5px;
}

.hidden {
    display: none !important;
}
.goto {
    cursor: pointer;
}
.goto:hover > img {
  transform: scale(1.3);
}

.catalog {
    margin-top: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background: white;
}
.catalog.empty {
    padding: 10px;
}
.catalog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog-page > h4 {
    padding: 10px;
}
.catalog-page > .catalog-row {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.catalog-page > .catalog-row:last-child {
    border: 0;
}
.catalog-page > .catalog-row:nth-child(even) {
    background: #f5f5f5;
}

.catalog-page > .catalog-row > .catalog-from-col {
    display: flex;
    min-width: 220px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    min-height: 25px;
    position: relative;
}
.catalog-page > .catalog-row > .catalog-to-col {
    display: flex;
    min-width: 220px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.catalog-page > .catalog-row > .catalog-from-col > img, .catalog-page > .catalog-row > .catalog-to-col > img  {
    padding: 5px;
}

.wiedergabe:after {
    content: url("/img/speaker-24.png");
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -13px;
    cursor: pointer;
    transform: scale(.8);
}

